@import '../../variables';

.about{
    display: flex;
    flex-flow: column;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    article{
        h1{
            font-size: 2rem;
            color: $amber;
            margin: .2rem;
        }
    }
}