@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');
$background: #000814;
$background-light: #001D3D;
$prussian-blue: #003566;
$amber: #FF7D00;
$amber-light: rgba(255, 123, 0, 0.746);
$timberwolf: #D3D0CB;
.fh{
    min-height: 100vh;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
body{
    color: white;
    background-color: $background;
    font-family: 'Rubik', sans-serif;
}

